body {
        background-image: url("../img/Extras/alias_granja.png");
        background-size: cover;
        font-family: 'Madimi One', cursive;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        text-align: center;
}

h1 {
        font-size: 40px;
        margin: 30px;
}

.main-a-container {
        background-color: rgba(222, 173, 132, 0.927);
        color: rgba(31, 15, 2, 0.927);
        /* background-color: rgba(195, 158, 89, 0.927); */
}

:root {
        --madera: rgba(222, 173, 132, 0.927);
        --letra: #68330e;
}

table,
td,
th,
tr {
        font-size: 23px;
        background-color: #c2cb8c;
        /*color botón*/
        padding: 15px;
        border-collapse: collapse;
        font-family: 'Madimi One', cursive;
        background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
        background-color: var(--madera);
        border: 2px solid #643716;
        border-radius: 15px;
}

#alias {
        padding: 0px 5px;
        width: 300px;
        height: 40px;
        font-size: 20px;
        font-family: 'Madimi One', cursive;
}

input[type="button"] {
        font-size: larger;
        border: 1px solid #2e518b;
        /*anchura, estilo y color borde*/
        padding: 15px;
        /*espacio alrededor texto*/
        background-color: #7d8b2e;
        /*color botón*/
        color: #ffffff;
        /*color texto*/
        text-decoration: none;
        /*decoración texto*/
        text-transform: uppercase;
        /*capitalización texto*/
        font-family: 'Madimi One', cursive;
        border-radius: 50px;
        /*bordes redondos*/
        margin-bottom: 30px;
}

button {
        color: var(--color);
        -webkit-transition: 0.25s;
        transition: 0.25s;
        border-radius: 15px;
        cursor: pointer;
        background: none;
        border: 2px solid;
        font: inherit;
        line-height: 1;
        margin: 0.5em;
        margin-top: 2em;
        padding: 1em 2em;
        font-size: 23px;
}

button#botonSonido,
button#botoninfo {
        position: absolute;
        bottom: 0px;
        background-color: hsl(245, 98%, 77%);
        color: hsl(49, 100%, 71%);
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2em;
        cursor: pointer;
        border-radius: 5px;
}

/* Boton sonido */
button#botonSonido {
        right: 0px;
}

/* Boton info */
button#botoninfo {
        left: 0px;
}